<!--@subject Email - Footer @-->
                    <!-- End Content -->
                    </td>
                </tr>
            </table>
            <tr >
            <td>
            <h3 class="follow-us" style="text-align:center; color:#000; font-size:18px;"> Stay Connected!</h3></td></tr>
            <tr>
            
            <td style="text-align:center; ">
             <a href="http://www.instagram.com/threecliveroad" style="padding:0 5px;"><img src="http://www.threecliveroad.com/skin/frontend/clive/default/images/media/email-instagram-21.png" alt="" /></a>
             
              <a href="http://www.pinterest.com/threecliveroad" style="padding:0 5px;"><img src="http://www.threecliveroad.com/skin/frontend/clive/default/images/media/email-pintrest-11.png" alt=""  /></a> 
          
            </td>
          </tr>
            
           
            <!---<h5 class="closing-text" style="text-align:center; color:#1d2351; margin:0px; border:none;">Thank you</h5>-->
        </td>
    </tr>
</table>

<!-- End wrapper table -->
</body>
