<!--@subject {{var store.getFrontendName()}}: Shipment # {{var shipment.increment_id}} for Order # {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var shipment.increment_id":"Shipment Id",
"var order.increment_id":"Order Id",
"var order.billing_address.format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.shipping_address.format('html')":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"layout handle=\"sales_email_order_shipment_items\" shipment=$shipment order=$order":"Shipment Items Grid",
"block type='core/template' area='frontend' template='email/order/shipment/track.phtml' shipment=$shipment order=$order":"Shipment Track Details",
"var comment":"Shipment Comment"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">


 <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td colspan="2" class="email-heading" style="background:none; border-right:none; text-align:center">
                        <h1><span style="text-transform:capitalize">Thank you for your order from {{var store.getFrontendName()}}.</h1>
            
                        <p style="color:#333; font-size:13px;">You can check the status of your order by <a href="{{store url="customer/account/"}}">logging into your account</a>.</p>
                    </td>
                </tr>
                
           
            </table>
        </td>
    </tr>


    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
            
                <tr>
                	<td colspan="2" style="text-align:center;"><h4 style="color:#03172a;font-size:16px;">Order Questions?</h4></td>
                </tr>
                <tr>
                <td class="store-info" style="background:none; text-align:center; border-top:1px solid #ccc; border-bottom:1px solid #ccc; border-right:1px solid #ccc; width:50%;  color:#333;font-size:13px;" >
                        <p>
                            {{depend store_phone}}
                            <b>Call Us:</b>
                            <a href="tel:{{var phone}}">{{var store_phone}}</a><br>
                            {{/depend}}
                            {{depend store_hours}}
                            <span class="no-link">{{var store_hours}}</span><br>
                            {{/depend}}
                            {{depend store_email}}
                            <b>Email:</b> <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                            {{/depend}}
                        </p>
                    </td>
                    <td style=" text-align:center;border-top:1px solid #ccc; border-bottom:1px solid #ccc; vertical-align:middle; color:#333; font-size:13px;">
                    	{{depend store_email}}
                        <b style="color:#4d4d4d;">Email:</b> <a href="mailto:{{var store_email}}" style="color:#4d4d4d; text-decoration:none;">{{var store_email}}</a>
                        {{/depend}}
                    </td>
                </tr>
            </table>
        </td>
    </tr> 






    <tr>
        <td class="order-details">
            <h3 style="color:#03172a;">Your Shipment <span class="no-link">#{{var shipment.increment_id}}</span></h3>
            <p style="color:#03172a;font-size:13px;">Order <span class="no-link">#{{var order.increment_id}}</span></p>
        </td>
    </tr>
    <tr class="order-information">
        <td>
            {{if comment}}
            <table cellspacing="0" cellpadding="0" class="message-container">
                <tr>
                    <td>{{var comment}}</td>
                </tr>
            </table>
            {{/if}}
            {{layout handle="sales_email_order_shipment_items" shipment=$shipment order=$order}}
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="address-details">
                        <h6 style="color:#000;font-size:15px;">Bill to:</h6>
                        <p style="color:#333;"><span class="no-link">{{var order.billing_address.format('html')}}</span></p>
                    </td>
                    {{depend order.getIsNotVirtual()}}
                    <td class="address-details">
                        <h6 style="color:#000;font-size:15px;">Ship to:</h6>
                        <p style="color:#333;"><span class="no-link">{{var order.shipping_address.format('html')}}</span></p>
                    </td>
                    {{/depend}}
                
                    {{depend order.getIsNotVirtual()}}
                    <td class="method-info">
                        <h6 style="color:#000;font-size:15px;">Shipping method:</h6>
                        <p style="color:#333;">{{var order.shipping_description}}</p>
               
                    {{/depend}}
                  
                        <h6 style="color:#000;font-size:15px;">Payment method:</h6>
                        {{var payment_html}}
                    </td>
                </tr>
            </table>
            {{block type='core/template' area='frontend' template='email/order/shipment/track.phtml' shipment=$shipment order=$order}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
