
@font-face{font-family:'interstatebold';src:url('../fonts/interstate-bold-webfont.eot');src:url('../fonts/interstate-bold-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/interstate-bold-webfont.woff2') format('woff2'),
url('../fonts/interstate-bold-webfont.woff') format('woff'),
url('../fonts/interstate-bold-webfont.ttf') format('truetype'),
url('../fonts/interstate-bold-webfont.svg#interstatebold') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'interstateboldcondensed';src:url('../fonts/interstateboldcondensed-webfont.eot');src:url('../fonts/interstateboldcondensed-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/interstateboldcondensed-webfont.woff2') format('woff2'),
url('../fonts/interstateboldcondensed-webfont.woff') format('woff'),
url('../fonts/interstateboldcondensed-webfont.ttf') format('truetype'),
url('../fonts/interstateboldcondensed-webfont.svg#interstateboldcondensed') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'interstatelight';src:url('fonts/interstate-light-webfont.eot');src:url('../fonts/interstate-light-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/interstate-light-webfont.woff2') format('woff2'),
url('../fonts/interstate-light-webfont.woff') format('woff'),
url('../fonts/interstate-light-webfont.ttf') format('truetype'),
url('../fonts/interstate-light-webfont.svg#interstatelight') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'interstateregular';src:url('../fonts/interstate-regular-webfont.eot');src:url('../fonts/interstate-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/interstate-regular-webfont.woff2') format('woff2'),
url('../fonts/interstate-regular-webfont.woff') format('woff'),
url('../fonts/interstate-regular-webfont.ttf') format('truetype'),
url('../fonts/interstate-regular-webfont.svg#interstateregular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'linotype_didotitalic';src:url('../fonts/linotype_didot_italic-webfont.eot');src:url('fonts/linotype_didot_italic-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/linotype_didot_italic-webfont.woff2') format('woff2'),
url('../fonts/linotype_didot_italic-webfont.woff') format('woff'),
url('../fonts/linotype_didot_italic-webfont.ttf') format('truetype'),
url('../fonts/linotype_didot_italic-webfont.svg#linotype_didotitalic') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'interstateregularcondensed';src:url('../fonts/interstate-regularcondensed-webfont.eot');src:url('../fonts/interstate-regularcondensed-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/interstate-regularcondensed-webfont.woff2') format('woff2'),
url('../fonts/interstate-regularcondensed-webfont.woff') format('woff'),
url('../fonts/interstate-regularcondensed-webfont.ttf') format('truetype'),
url('../fonts/interstate-regularcondensed-webfont.svg#interstateregularcondensed') format('svg');font-weight:normal;font-style:normal;}
@font-face {
  font-family: 'Interstate-LightItalic';
  src: url('../fonts/Interstate-LightItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Interstate-LightItalic.woff') format('woff'), url('../fonts/Interstate-LightItalic.ttf')  format('truetype'), url('../fonts/Interstate-LightItalic.svg#Interstate-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DroidSerif-Bold';
  src: url('../fonts/DroidSerif-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/DroidSerif-Bold.woff') format('woff'), url('../fonts/DroidSerif-Bold.ttf')  format('truetype'), url('../fonts/DroidSerif-Bold.svg#DroidSerif-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSerif-Italic';
  src: url('../fonts/DroidSerif-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/DroidSerif-Italic.woff') format('woff'), url('../fonts/DroidSerif-Italic.ttf')  format('truetype'), url('../fonts/DroidSerif-Italic.svg#DroidSerif-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DroidSans-Bold';
  src: url('../fonts/DroidSans-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/DroidSans-Bold.woff') format('woff'), url('../fonts/DroidSans-Bold.ttf')  format('truetype'), url('../fonts/DroidSans-Bold.svg#DroidSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Droids-SansItalic';
  src: url('../fonts/Droids-SansItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Droids-SansItalic.otf')  format('opentype'),
	     url('../fonts/Droids-SansItalic.woff') format('woff'), url('../fonts/Droids-SansItalic.ttf')  format('truetype'), url('../fonts/Droids-SansItalic.svg#Droids-SansItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Interstate-BoldItalic';
  src: url('../fonts/Interstate-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Interstate-BoldItalic.woff') format('woff'), url('../fonts/Interstate-BoldItalic.ttf')  format('truetype'), url('../fonts/Interstate-BoldItalic.svg#Interstate-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

